{% extends 'base.html' %}


{% block titulo %} 
    <h2>🕹️ HOME 🕹️</h2>
{% endblock %}

{% block contenido %}
    {% if request.user.is_authenticated %}
        <h3 style="color: rgb(27, 0, 164);">Welcome to the video game vault <strong>✨ {{ request.user.username }} ✨</strong>!</h3>
    {% else %}
        <h3 style="color: rgb(27, 0, 164);">Welcome to the video game vault!</h3>
    {% endif %}
    <h4>The information that you have in the DB right now:</h4>
    <ul class="info-list">
        <li>Number of video games: {{video_games}}</li>
        <li>Number of developers: {{developers}}</li>
        <li>Number of plataforms: {{plataforms}}</li>
        <li>Number of stores: {{stores}}</li>
        <li>Number of genres: {{genres}}</li>
    </ul>
{% endblock %}

