{% extends 'base.html' %}


{% block titulo %} 
    <h2> HOME </h2>
{% endblock %}

{% block contenido %}
    {% if request.user.is_authenticated %}
        <p>Welcome to the video game vault <strong>{{ request.user.username }}</strong>!</p>
    {% else %}
        <p>Welcome to the video game vault!</p>
    {% endif %}
    <p>The information that you have loaded right now:</p>
    <ul class="info-list">
        <li>Number of video games: {{video_games}}</li>
        <li>Number of developers: {{developers}}</li>
        <li>Number of plataforms: {{plataforms}}</li>
        <li>Number of stores: {{stores}}</li>
        <li>Number of genres: {{genres}}</li>
    </ul>
{% endblock %}

